.header {
outline: 1px solid red;
display: flex;
height: 50px;
}

.left_bar {
  outline: 1px solid red;
  width: 100px;
  height: auto;
  /* margin-top: 50px; */
}

.content{
  outline: 1px solid red;
  margin-left: 100px;
  
}

.pictures {
  outline: 1px solid red;
  /* height: 75px; */
}

.images {
  height: 175px;
}

.videos {
  outline: 1px solid red;

}