body {
  /* display: flex; */
  margin: 0px;
  padding: 0px;
  background-color: rgb(190, 113, 190);
}

.header {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  /* vertical-align: center; */
  /* height: 50px; */

}

.Title {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  height: 45px;
  margin-top: 5px;
}

.login_credentials {
  margin: 0px;
}

.left_bar {
  outline: 1px solid red;
  width: 100px;
  height: auto;
  /* margin-top: 50px; */

}

.bar_links {
  width: 65px;
  height: 25px;
  border-radius: 25px;
  background-color: coral;
  border: 1px solid rgb(194, 101, 68);
  margin-bottom: 5px;
}

.media_content {
  /* outline: 1px solid red; */
  margin-left: 100px;
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 5vw);
  column-gap: 100px;
  row-gap: 155px;
  
}

.pictures {
  outline: 1px solid red;
  margin-left: 100px;
  height: 75px;
  border-radius: 25px;
}

.images {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  height: 175px;
  }

.videos {
  /* outline: 1px solid red; */
}