body {
  display: inline;
}

.header {
outline: 1px solid red;
display: flex;
justify-content: space-between;
height: 50px;

}

.Title {
  font-size: 35px;
  font-family: fantasy;
}

.left_bar {
  outline: 1px solid red;
  display: inline-block;
  width: 100px;
  height: auto;
  /* margin-top: 50px; */
  
}

.media_content{
  outline: 1px solid red;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.pictures {
  outline: 1px solid red;
  /* height: 75px; */
}

.images {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  height: 175px;
}

.cat_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 175px;
}

.videos {
  outline: 1px solid red;

}